body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.title-text {
  display: flex;
  align-content: center;
  justify-content: center;
}

.subtitle-text {
  display: flex;
  align-content: center;
  justify-content: center;
}
