.SocialMediaButton-container {
  margin: 0.5em;
}

.SocialMediaButton-container a {
  color: gray;
  transition: .5s ease;
  text-decoration: none;
}

.SocialMediaButton-container a:hover {
  color: black;
}

.SocialMediaButton-container a:active {
  color: gray;
}
